$backgroundHeaderImage: url(../img/m-h-night.jpg);
$textColor: white;
$font-weights:('regular':200,
    'medium':500,
    'bold':700);
$highlightColor:#EC5C41;
$buttonColor:#DBAD3B;
$sectionCardColor:#3B3E4E;
$backgroundColor:#21232D;
$backgroundGradient:linear-gradient(90deg, #D9AA3A, #883551);