$backgroundHeaderImage: url(../img/m-h-day.jpg);
$textColor: #2D2F3B;
$font-weights:('regular':200,
    'medium':500,
    'bold':700);
$highlightColor:#499EC3;
$buttonColor:#73972C;
$sectionCardColor:#1D1E27;
$backgroundColor:#FFFFFF;
$backgroundGradient:linear-gradient(90deg, #72952D, #385CD1)